.tableCell {
  /* border: 1px solid black !important; */
  padding: 10px 0;

  &.resizable {
    position: relative;
  }

  &.emptyCell {
    width: "auto";
  }
}

.resizeLine {
  position: absolute;
  height: 100%;
  width: 4px;
  top: 0;
  right: 0px;
  cursor: col-resize;

  &:hover {
    background-color: #0aa1dd;
  }

  &:active {
    background-color: #0aa1dd;
  }

  & {
    background-color: #e5e4e2;
  }
}
