name: Kilted Create Debs

on:
  push:
    tags:
      - v*

jobs:
  kilted:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            arch: amd64
            platform: linux/amd64
          - os: ubuntu-24.04-arm
            arch: arm64
            platform: linux/arm64
    container:
      image: ubuntu:noble
    steps:
      - uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: kilted
      - run: sudo pip install "websockets>=13.0" --break-system-packages
      - uses: ros-tooling/action-ros-ci@v0.4
        with:
          target-ros2-distro: kilted
          skip-tests: true
      - uses: actions/checkout@v4
        with:
          path: fkie-multi-agent-suite
      - name: Create debian packages
        run: |
          source /opt/ros/kilted/setup.bash
          bash create_debs.sh
        shell: bash
        working-directory: fkie-multi-agent-suite
      - name: Upload debs to release ${{ github.ref }}
        uses: svenstaro/upload-release-action@v2
        with:
          file: fkie-multi-agent-suite/ros-kilted-fkie-mas-*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

